body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* -----------------footer------------------*/

footer {
  height: 250px;
  color: hsl(193, 100%, 96%);
  background-color: hsl(192, 100%, 9%);
  width: 88%;
  padding: 10% 6% 2% 6%;
}

.blocInfos {
  display: flex;
  justify-content: row;
}

.logoHuddleFooter {
  filter: grayscale(1) brightness(10);
  width: 150px;
}

.coordonnees {
  width: 30%;
}

.coordonnees li {
  list-style: none;
  margin: 6% 0;
}

.menuFooter {
  width: 30%;
  display: flex;
}

.links {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links a {
  color: hsl(193, 100%, 96%);
  text-decoration: none;
}

.links a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reseaux {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.adresse:before {
  content: "";
  background-image: url(../images/icon_location.svg);
  background-size: 100%;
  width: 15px;
  height: 21px;
  position: absolute;
  margin: 4px 0 0 -40px;
}

.tel:before {
  content: "";
  background-image: url(../images/icon_phone.svg);
  background-size: 100%;
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 4px 0 0 -40px;
}

.email:before {
  content: "";
  background-image: url(../images/icon_email.svg);
  background-size: 100%;
  width: 18px;
  height: 15px;
  position: absolute;
  margin: 4px 0 0 -40px;
}

.icones {
  display: flex;
}

.fa-facebook-f {
  position: relative;
  top: -2px;
  left: 3px;
  border: none !important;
}

.fa-instagram {
  position: relative;
  top: -2px;
  left: 1px;
  border: none !important;
}

.fa-twitter {
  position: relative;
  top: -2px;
  left: 1px;
  border: none !important;
}

.cercle {
  border-radius: 99px;
  border: 1px solid white;
  padding: 6px;
  height: 17px;
  width: 17px;
  margin-right: 10px;
}

.cercle:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-facebook-f:hover {
  border: 1px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}
